<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simulator</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
<body>

<div th:replace="~{simulator/form.html :: simulationForm(${simulationForm})}">

</div>

<div th:unless="${simulations.isEmpty()}">
    <div th:replace="~{simulator/tableDisplay.html :: simulationsTableDisplay(${simulations})}">

    </div>
</div>

</body>
</html>